<div class="clearfix">
<div class="col-md-3">
<h2>Company</h2>
</div>
<div class="col-md-offset-8 col-md-1"> 
<a href="#/companies"><button style="margin-top:15px;" class="btn bnt-default"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
</a></div>
	
</div>
<div class="clearfix">
<div class="panel panel-default">
  <div class="panel-body">
   <form ng-submit="save()" name="form" >
  
  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{entity.name}}"
                           ng-model="entity.name" ng-minlength=1 ng-maxlength=50 required>
                    <div class="error"
                         ng-show="form.entity.$dirty && form.entity.$invalid">
                        <small class="error"
                               ng-show="form.name.$error.required">
                             Company name is required.
                        </small>
                        <small class="error"
                               ng-show="form.name.$error.minlength">
                            Company name confirmation is required to be at least 1 characters
                        </small>
                        <small class="error"
                               ng-show="form.name.$error.maxlength" >
                           Company name cannot be longer than 50 characters
                        </small>
                    </div>
       </div>  
  <div class="form-group">
    <label>City:</label>
<!-- <select name="repeatSelect" id="repeatSelect" ng-model="company.city" ng-required="true">
      <option ng-repeat="item in cities" value="{{item .id}}">{{item .name}}</option>
    </select>
    -->
    <select name="mySelect" id="mySelect"
      ng-options="option.name for option in cities track by option.id"
      ng-model="entity.city"></select>
  </div>
    <div class="form-group">
    <label>Phone:</label>
    <input type="text" class="form-control" ng-model="entity.phone" id="exampleInputPassword1" placeholder="Phone">
  </div>
	  <div class="form-group">
    <label>Address:</label>
    <input type="text" class="form-control" ng-model="entity.adress" id="exampleInputPassword1" placeholder="Address">
  </div>
	<div class="panel-footer text-right">
 <div class="panel panel-danger text-center text-danger" ng-show="saveErrMsg">
 {{saveErrMsg}}
 </div>
 <div class="panel panel-success text-center text-success" ng-show="saveOkMsg">
 {{saveOkMsg}}
 </div>
 </div>
	
  <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid"> <i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
   <button class="btn btn-default" type="reset" ng-click="clearFields()">
 <i class="glyphicon glyphicon-refresh"></i>
 Reset
 </button>
</form>

  </div>
</div>
</div>
</div>